.title {
  font-size: 4rem;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
}

.section {
  margin-top: 2rem;
  width: 100%;

  position: relative;
}

.section header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section header img {
  width: 5rem;
  margin-right: 1rem;
}

.input-content {
  margin-top: 3rem;
  width: 50%;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-content .input {
  width: 50%;

  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: 0;
  outline: none;

  text-align: center;
  font-weight: 500;
}

.input-content .input::placeholder {
  color: #ddd;
}

.container {
  margin-top: 4rem;
  width: 100%;
}

.container .title {
  font-size: 3rem;
}

.container .info-user {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .info-user .user-avatar {
  width: 100%;
}

.container .info-user .user-avatar img {
  width: 20rem;
  border-radius: 50%;
}

.container .user-description {
  text-align: left;
  width: 100%;
}

.container .user-description a.title {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.container .user-description p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.container .user-description p:nth-child(1) {
  font-style: italic;
}

.content {
  max-width: 90%;
  margin: 4rem auto;
}

.content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* responsive */

@media (max-width: 1200px) {
  .container .info-user {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .input-content .input {
    width: 80%;
  }

  .container .info-user {
    width: 100%;
  }

  .content ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 770px) {
  .section header {
    flex-direction: column;
  }

  .input-content {
    width: 100%;
  }

  .input-content .input {
    width: 60%;
  }

  .content ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section header {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section header .title {
    word-wrap: break-word;
  }

  .input-content {
    margin: 3rem auto 0 auto;
    width: 80%;
  }

  .input-content .input {
    width: 90%;
  }

  .input-content .button {
    width: 50%;
  }

  .container .info-user {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }

  .info-user .user-description {
    text-align: center;
    margin-top: 2rem;
  }

  .info-user .user-description a.title {
    font-size: 3rem;
  }

  .info-user .user-description p {
    font-size: 1.6rem;
  }
}
